<div class="card">

    <p-table #dt [value]="ispiti" [rows]="infoService.brojZapisa" [paginator]="true"  [globalFilterFields]="['maksimalniBrojBodova','statusIspita','ostvareniBrojBodova', 'ime', 'creationDate']"
    [(selection)]="odabraniIspit" [rowHover]="true" dataKey="id" sortField="sifra" [sortOrder]="1">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="{{ 'table.search' | translate}}" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="creationDate">{{ 'exam.date' | translate}} <p-sortIcon field="creationDate"></p-sortIcon></th>
            <th pSortableColumn="ime">{{ 'exam.fullName' | translate}} <p-sortIcon field="ime"></p-sortIcon></th>
            <th pSortableColumn="ostvareniBrojBodova">{{ 'exam.points' | translate}} <p-sortIcon field="ostvareniBrojBodova"></p-sortIcon></th>
            <th pSortableColumn="maksimalniBrojBodova">{{ 'exam.maxPoints' | translate}} <p-sortIcon field="maksimalniBrojBodova"></p-sortIcon></th>
            <th pSortableColumn="statusIspita">{{ 'exam.status' | translate}} <p-sortIcon field="statusIspita"></p-sortIcon></th>
            <!--th></th-->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ispit>
        <tr>
            <td>{{ispit.creationDate | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{ispit.korisnik.ime}} {{ispit.korisnik.prezime}}</td>
            <td>{{ispit.ostvareniBrojBodova}}</td>
            <td>{{ispit.maksimalniBrojBodova}}</td>
            <td [ngClass] = "getClassAboutStatus(ispit.statusIspita)">{{ispit.statusIspita}}</td>
            <td>
                <button pButton pRipple icon="pi pi-search-plus" class="p-button-rounded p-button-warning p-mr-2" (click) = "pogledajIspit(ispit.ispitId)" ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            {{ 'table.totalMessage' | translate}} {{ispiti ? ispiti.length : 0 }} {{ 'exam.exams' | translate}}.
        </div>
    </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="ispitDialog" [style]="{width: '900px'}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
        {{  'exam.examReveiw' | translate}}
    </ng-template>

    <ng-template pTemplate="content">
        <ng-container>
            <div style="border: 0.05em black solid;">
                <p style="padding: 10px !important;"><b>{{ 'exam.date' | translate}}:</b> {{ispitInfo.creationDate | date: 'dd.MM.yyyy HH:mm:ss'}}</p>
                <p style="padding: 10px !important;"><b>{{ 'exam.fullName' | translate}}:</b> {{ispitInfo.korisnik.ime}} {{ispitInfo.korisnik.prezime}}</p>
                <p style="padding: 10px !important;"><b>{{ 'exam.points' | translate}}:</b> {{ispitInfo.ostvareniBrojBodova}}/{{ispitInfo.maksimalniBrojBodova}}</p>
                <p style="padding: 10px !important;"><b>{{ 'exam.status' | translate}}:</b> <span [ngClass] = "getClassAboutStatus(ispitInfo.statusIspita)"> {{ispitInfo.statusIspita}}</span></p>
            </div>
        </ng-container>
        <ng-container  *ngFor = "let pitanje of ispitInfo.pitanja; let i = index;">
            <ng-container *ngIf = "pitanje.odabiri">
                <div style="border: 0.05em black solid;" *ngIf = "getArrayLength(pitanje.odabiri) > 1"  >
                    <div style="padding: 10px !important;">
                        <h2>{{i+1}}. {{pitanje.tekstPitanja}}</h2>
                        <div *ngIf = "pitanje.slika !== undefined && pitanje.slika !== null">
                            <img [src]="pitanje.slika" style="height: 12.5em;">
                        </div>
                        <ng-container  *ngFor = "let odabir of pitanje.odabiri; let j = index;">
                            <div class="field-checkbox" *ngIf = "odabir.tekst !== ''" style="margin: 1em;">
                                <p-checkbox [ngClass]="checkOdabir(odabir,pitanje)" name="i" [label] ="odabir.tekst" [value]="odabir.sifra"  [(ngModel)]="pitanje.odgovor"  inputId="i" [disabled] = "true"></p-checkbox>
                            </div>
                        </ng-container>
                        <div style="text-align: right;">
                            <ng-container *ngIf = "checkIfMultipleQuestionIsOk(pitanje.odabiri , pitanje) === 'green'">
                                <span [ngClass]="checkIfMultipleQuestionIsOk(pitanje.odabiri , pitanje)"> <b>{{pitanje.brojBodova}}/{{pitanje.brojBodova}}</b></span>
                            </ng-container>
                            <ng-container *ngIf = "checkIfMultipleQuestionIsOk(pitanje.odabiri , pitanje) === 'red'">
                                <span [ngClass]="checkIfMultipleQuestionIsOk(pitanje.odabiri , pitanje)"> <b>0/{{pitanje.brojBodova}}</b></span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div  style="border: 0.05em black solid;" *ngIf = "getArrayLength(pitanje.odabiri) === 1">
                    <div style="padding: 10px !important;">
                        <h2>{{i+1}}. {{pitanje.tekstPitanja}}</h2>
                        <div *ngIf = "pitanje.slika !== undefined && pitanje.slika !== null">
                            <img [src]="pitanje.slika" style="height: 12.5em;">
                        </div>
                        <input type="text" pInputText id="tekst1" [(ngModel)]="pitanje.odgovor" required style="width: 75%;" disabled = "true"/>
                        <p>{{ 'message.correctAnswer' | translate}}{{pitanje.odabiri[0].tekst}}</p>
                    </div>
                    <div style="text-align: right;">
                        <ng-container *ngIf = "checkIfInputQuestionIsOk(pitanje) === 'green'">
                            <span [ngClass]="checkIfInputQuestionIsOk( pitanje)"> <b>{{pitanje.brojBodova}}/{{pitanje.brojBodova}}</b></span>
                        </ng-container>
                        <ng-container *ngIf = "checkIfInputQuestionIsOk(pitanje) === 'red'">
                            <span [ngClass]="checkIfInputQuestionIsOk(pitanje)"> <b>0/{{pitanje.brojBodova}}</b></span>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container >
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'buttons.cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>