<div class="card">

    <p-table #dt [value]="uloge" [rows]="infoService.brojZapisa" [paginator]="true"  [globalFilterFields]="['sifra','naziv','nazivEn']"
    [(selection)]="odabranaUloga" [rowHover]="true" dataKey="id" sortField="sifra" [sortOrder]="1">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="{{ 'table.search' | translate}}" />
            </span>
            <span style="float: right;">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="sifra">{{ 'role.code' | translate}} <p-sortIcon field="sifra"></p-sortIcon></th>
            <th pSortableColumn="naziv">{{ 'role.name' | translate}} <p-sortIcon field="naziv"></p-sortIcon></th>
            <th pSortableColumn="nazivEn">{{ 'role.nameEng' | translate}} <p-sortIcon field="nazivEn"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-uloga>
        <tr>
            <td>{{uloga.sifra}}</td>
            <td>{{uloga.naziv}}</td>
            <td>{{uloga.nazivEn}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click) = "editUloga(uloga)" ></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"(click) = "deleteUloga(uloga)" ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            {{ 'table.totalMessage' | translate}} {{uloge ? uloge.length : 0 }} {{ 'role.roles' | translate}}.
        </div>
    </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="ulogaDialog" [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
        {{ (uloga.sifra ? 'role.editRole' : 'role.newRole') | translate}}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">{{ 'role.code' | translate}}</label>
            <input type="text" pInputText id="sifra" [(ngModel)]="uloga.sifra" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !uloga.sifra">{{ 'role.code' | translate}} {{ 'errorMessage.isRequired' | translate}}</small>
        </div>
        <div class="p-field">
            <label for="name">{{ 'role.name' | translate}}</label>
            <input type="text" pInputText id="sifra" [(ngModel)]="uloga.naziv" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !uloga.naziv">{{ 'role.name' | translate}} {{ 'errorMessage.isRequired' | translate}}</small>
        </div>
        <div class="p-field">
            <label for="name">{{ 'role.nameEng' | translate}}</label>
            <input type="text" pInputText id="sifra" [(ngModel)]="uloga.nazivEn" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !uloga.nazivEn">{{ 'role.nameEng' | translate}} {{ 'errorMessage.isRequired' | translate}}</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'buttons.cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'buttons.save' | translate}}" icon="pi pi-check" class="p-button-text"   (click)="saveUloga()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>