<div id="header">
  <div class ="nav-wraper">
    <h1 class="center">Autoškola Lazar</h1>
  </div>

  <p-menubar [model]= "items" >
    <button pButton class="p-button-sm p-button-raised p-button-rounded p-button-secondary"> {{ 'navbar.login' | translate}} </button>
    <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" icon="pi pi-globe" optionLabel = "name" optionValue = "value" (onChange) = "changeLanguage()">
      <ng-template let-item pTemplate="selectedItem">
        <span class="flag-icon flag-icon-{{item.flag}}"></span>
      </ng-template>
    </p-dropdown>
  </p-menubar>
</div>
