.nav-wraper{
  height: 4rem ;
  background-color: yellow;
  justify-content: space-between;
}

.nav-bar{
  height: 3rem;
  background-color: gray;
}

.nav-content{
  margin: auto;
  width: 50%;
  //border: 5px solid #FFFF00;
  //padding: 10px;
}

.nav-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color: #333;
  background-color: gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.nav-content .active {
  color: blue;
  //background-color: #04AA6D;
}

.center {
  margin: auto;
  text-align: center;
  //border: 3px solid green;
  padding: 10px;
}