<div class="footer-wrapper">
    <div style="text-align: center;">
        <div class="allign-centar">
            <h3> {{'about.contact' | translate}} </h3>
            <div class="text-left; font-size: large">
                <p><b>{{'about.name' | translate}}: </b>  <span>{{infoService?.nazivAutoskole}}</span></p>
                <p><b>{{'about.address' | translate}}: </b>  <span>{{infoService?.adresa}}</span></p>
                <p><b>{{'about.email' | translate}}: </b>  <span>{{infoService?.email}}</span></p>
                <p><b>{{'about.contactNumber' | translate}}: </b>  <span>{{infoService?.kontaktBroj}}</span></p>
            </div>
        </div>
    </div>
</div>