<p-toast></p-toast>
<div class="center-form" style="min-width: fit-content; width: 66%;">
  <form [formGroup]="signupForm">
    <p-panel header="Registracija" >
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{ 'user.name' | translate }}
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="ime" placeholder="{{ 'user.name' | translate }}"/>
          </div>
          <div class="ui-grid-col-4">
            <div class="invalid-feedback" *ngIf="signupForm.controls.ime.errors?.['required'] && (signupForm.controls.ime.touched)">
              <i class="fa fa-close"></i>
              {{ 'user.name' | translate }}{{ 'form.required' | translate }}
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{ 'user.surename' | translate }}
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="prezime" placeholder="{{ 'user.surename' | translate }}"/>
          </div>
          <div class="ui-grid-col-4">
            <div class="invalid-feedback" *ngIf="signupForm.controls.prezime.errors?.['required'] && (signupForm.controls.prezime.touched)">
              <i class="fa fa-close"></i>
              {{ 'user.surename' | translate }}{{ 'form.required' | translate }}
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{ 'user.email' | translate }}
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="email" formControlName="email" placeholder="{{ 'user.email' | translate }}"/>
          </div>
          <div class="ui-grid-col-4">
            <div class="invalid-feedback" *ngIf="signupForm.controls.email.errors?.['required'] && (signupForm.controls.email.touched)">
              <i class="fa fa-close"></i>
              {{ 'user.email' | translate }}{{ 'form.required' | translate }}
            </div>
            <div class="invalid-feedback" *ngIf="signupForm.controls.email.errors?.['email'] && (signupForm.controls.email.touched)">
              <i class="fa fa-close"></i>
              {{ 'form.email' | translate }}
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{ 'user.username' | translate }}
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="korIme" placeholder="{{ 'user.username' | translate }}"/>
          </div>
          <div class="ui-grid-col-4">
            <div class="invalid-feedback" *ngIf="signupForm.controls.korIme.errors?.['required'] && (signupForm.controls.korIme.touched)">
              <i class="fa fa-close"></i>
              {{ 'user.username' | translate }}{{ 'form.required' | translate }}
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{ 'user.password' | translate }}
          </div>
          <div class="ui-grid-col-6">
            <p-password type="text" formControlName="lozinka" placeholder="{{ 'user.password' | translate }}" [feedback]="false" required></p-password>
          </div>
          <div class="ui-grid-col-4">
            <div class="invalid-feedback" *ngIf="signupForm.controls.lozinka.errors?.['required'] && (signupForm.controls.lozinka.touched)">
              <i class="fa fa-close"></i>
              {{ 'user.password' | translate }}{{ 'form.required' | translate }}
            </div>
          </div>
        </div>

        <br>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button pButton type="submit" label="{{ 'navbar.signup' | translate}}" (click) = "signup()"  [disabled]="!signupForm.valid"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

      </div>
    </p-panel>
  </form>
</div>