.center-form {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  padding: 10px;
}

.label{
  font-weight: bold;
  font-size: larger;
  margin-right: 1%;
  margin-bottom: 1%;
}

.element{
  margin-bottom: 2%;
}

.margin-2{
  margin: 2%;
}

.invalid-feedback{
  color: red;
  font-size: medium;
}

button {
  min-width: 10rem;
  margin-right: .5rem;
}

@media screen and (max-width: 960px) {
  button {
      width: 100%;
      margin-bottom: .5rem;
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #E1CFE7;
      border: solid #8A427A;
      border-width: 0 0 0 6px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}
